

body {
  font-family: 'Montserrat', sans-serif;
}

section {
  height: 100vh;
  position: relative;
}

.center-item {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  
  width: 190px;
  height: 120px;
  
  display: flex;
  justify-content: center;
  align-items: center;
 
}

.sample {
  color: red;
  background-color: black;
}

.sample2 {
  color: blue;
  background-color: green;
}

.box {
    width: 200px;
    height: 200px;
    background-color: pink;
  }
  
