main {
      margin-top: 50px;
      
        .container {
                    text-align: center;
                    display: block;
                    
                    h1 {
                        margin-bottom: 70px;
                        }
                    label {
                           width: 100px;
                           margin-bottom: 50px;
                          }
                    .laval_side {
                                 display: inline; 
                                
                                }
                    }
                   
            
            
                    

      }


