.box {
	    text-align: center ;
	    .small_box {
	                display: inline-block;
	                }
	                ul {
	                    list-style: none; 
	                   }
     }