<main>
  <airticle>
    <section class = "top_image">
      <%= image_tag "image.cat.jpg"%>
      <span>公開：2021.03.04 
      </span>
      <span>更新 : 2021.05.18
      </span>
      <h1 >どんな猫を選ぶ？あなたにぴったりの猫の選び方【飼う前の準備】
      </h1>
      <p class = "text_red" "text_right" >新しい家族の一員となる猫を迎える時、あなたはどのようにして選びますか？“猫を飼う”いうことを考えるとワクワクしますよね。今回は猫の年齢や性別の違い、どこから迎えるかなどをまとめました。
      </p>
    </section>
    <section>
      <h2 >子猫か成猫か？
      </h2>
      <p class = "text_red">子猫か成猫かどちらを迎えるかとなると、やはり子猫を選ぶ人が多いと思います。
      愛らしい子猫は見ているだけで癒されますよね。
      ただ月齢にもよりますが、授乳や排泄の世話など成猫に比べて手間はかかりますし、健康管理にも気をつけなければいけません。
      成猫は子猫に比べて落ち着いているので、静かな生活をしたい人にオススメです。
      </p>
    </section>
    <section>
      <%= image_tag "cat.about.jpg"%>
      <h3>
      子猫
      </h3>
      <ul>
        <li>元気いっぱいで見ていて飽きない</li>
        <li>成長を見守っていける</li>
        <li>一緒に遊ぶ楽しみがある</li>
        <li>免疫力が低く、きめ細やかな体調管理が必要</li>
      </ul>
      <h4>
      成猫
      </h4>
      <%= image_tag "adultcat.jpg"%>
      <ul>
        <li>子猫に比べて性格が落ち着いている</li>
        <li>外見に大きな変化が起こりにくい</li>
        <li>子猫に比べて体調が安定している　など</li>
      </ul>
      </section>
  </airticle>
</main>


