
     <h1 id="hello">Hello World</h1>
     <div class="background">
       <div class="center-item">
         <%= button_to "猫を探す", { controller: "cats", action: "search" }, { method: :get,class: "btn btn-primary" }  %>
       </div>
       <%= image_tag "background.jpg" %>
       
     </div>
     
     
     

  