

     
     <div class="background">
       <div class="center-item">
         <%= button_to "猫を探す", { controller: "cats", action: "search" }, { method: :get,class: "btn btn-primary", id: "button", form: { id: "button-form" }}  %>
       </div>
       <%= image_tag "background.jpg" %>
       
     </div>
      
 <div>
 <h1 id = "title">名探偵コナン</h1>
 <p class = "message">真実はいつも1つ
 </p>
 </div>
<script src="/javascript/packs/home.js"></script>
エラーはjavascriptのファイル良いこむ相対パスが間違っている
 
      

     
    
     
    