

     
     <div class="background">
       <div class="center-item">
         <%= button_to "猫を探す", { controller: "cats", action: "search" }, { method: :get,class: "btn btn-primary", id: "button", form: { id: "button-form" }}  %>
       </div>
       <%= image_tag "background.jpg" %>
       
     </div>
      
      

      <button id="A">ボタンA</button>
<button id="B">ボタンB</button>
<button id="C">ボタンC</button>
     
    
    
     
    