

     
     <div class="background">
       <div class="center-item">
         <%= button_to "猫を探す", { controller: "cats", action: "search" }, { method: :get,class: "btn btn-primary", id: "button", form: { id: "button-form" }}  %>
       </div>
       <%= image_tag "background.jpg" %>
       
     </div>
      
 <div>
 <h1 id = "title">名探偵コナン</h1>
 <p class = "message-first">真実はいつも1つ
 </p>
 <p class = "message-second">おいラン
 </p>
 <p class = "message-third">おっちゃん
 </p>
 </div>
<section>
<p>こんにちは</p>
 <button class = "red">red</button>
 <button class = "blue">blue</button>
 <button class = "delete">delete</button>
 <button class = "has-class">hasClass</button>
   <div style="width: 100px; height: 100px; background-color: gray;" class = "color"></div>

   
</section>

 
      

     
    
     
    