
<% provide(:title , "猫検索") %>
     
     <div class="background">
       <div class="center-item">
         <%= button_to "猫を探す", { controller: "cats", action: "search" }, { method: :get,class: "btn btn-primary", id: "button", form: { id: "button-form" }}  %>
       </div>
       <%= image_tag "background.jpg" %>
       
     </div>
      
 <div>
 <h1 id = "title">名探偵コナン</h1>
 <p class = "message-first">真実はいつも1つ
 </p>
 <p class = "message-second">おいラン
 </p>
 <p class = "message-third">おっちゃん
 </p>
 </div>
<section>
<p>こんにちは</p>
 <button class = "red">red</button>
 <button class = "blue">blue</button>
 <button class = "delete">delete</button>
 <button class = "has-class">hasClass</button>
   <div style="width: 100px; height: 100px; background-color: gray;" class = "color"></div>
   <p>DOM操作を理解しよう</p>
   <h1>楽しいjquery</h1>
   <button class = "list">リスト追加</button>
   <button class = "remove">削除</button>
<ul>
  <li>リンディ</li>
  <li>トミー</li>
  <li>メリー</li>
</ul>



</section>

 <form>
 <div>
       <span>性別：</span>
       <input type="radio" name="gender" value="male">男
       <input type="radio" name="gender" value="female">女
       <input type="radio" name="gender" value="other">その他
     </div>
 </form>

 <button id="fadeOut">fadeOut</button>
   <div class="box"></div>
      <%= stylesheet_link_tag 'home' %>
      <%= javascript_pack_tag "home" %>

     
    
     
    