<%= flash.now[:notice] %>

<% @cats.each do |cat|%>

<div class="card-group">
  <div class="card">
    <%=link_to image_tag("#{cat.img}"), show_path(cat.id),{class: "card-img-top"}%>
    <div class="card-body">
      <h1><%=link_to cat.name, show_path(cat.id),{class: "card-title"}%></h1>
    </div>
  </div>
</div>

<% end %>

