<main>
<h1>検索条件</h1>
<select name="selectbox">
  <option value="項目1">項目1</option>
  <option value="項目2">項目2</option>
  <option value="項目3">項目3</option>
  <option value="項目4">項目4</option>
  
</select>
<button>検索</button>
</main>