<nav class="navbar navbar-expand-xl navbar-light" style="background-color: #e3f2fd;">
  <div class="container-fluid">
    <%= link_to "Navbar","/home",class: "navbar-brand"  , data: { turbolinks: false } %>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarLight" aria-controls="navbarLight" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse show" id="navbarLight">
      <ul class="navbar-nav me-auto mb-2 mb-xl-0">
        <li class="nav-item">
          <%= link_to "ホームへ","/home",class: "nav-link active",  data: { turbolinks: false } %>
        </li>
        <li class="nav-item">
         <%= link_to "猫選びのポイント",about_path , class: "nav-link", data: { turbolinks: false } %>
        </li>
        <li class="nav-item">
         <%= link_to "猫豆知識","https://pet-info.event.rakuten.net/articles/15060188255",class: "nav-link", data: { turbolinks: false }  %>
         
        </li>
      </ul>
    </div>
  </div>
</nav>
