<nav>
    
 <%= link_to "ホームへ","cats/seach"%>
 <%= link_to "猫選びのポイント","https://www.pretty-online.jp/news/2671/"%>
 <%= link_to "猫豆知識","https://pet-info.event.rakuten.net/articles/15060188255"%>
  
</nav>